<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/style2.css">
  <title><%=title%>
  </title>

</head>

<body>
  <div class="bg-blue-500 flex justify-evenly text-xl  h-24 items-center">
    <a href="/api/logout">
      <p class="px-4 py-2 rounded bg-orange-400 active:scale-95 hover:bg-orange-400">Logout</p>
    </a>

    <a href="/api/user/dashboard">
      <p class="px-4 py-2 rounded bg-orange-300 active:scale-95 hover:bg-orange-400">Dashboard</p>
    </a>

    <a href="/api/show/showall">
      <p class="px-4 py-2 rounded bg-orange-300 active:scale-95 hover:bg-orange-400">Show All Emails</p>
    </a>

    <a href="/api/show/emailscp">
      <p class="px-4 py-2 rounded bg-orange-300 active:scale-95 hover:bg-orange-400">Emails for Copy Paste</p>
    </a>



    <a href="/api/show/email50">
      <p class="px-4 py-2 rounded bg-orange-300 active:scale-95 hover:bg-orange-400">Email 50</p>
    </a>


  </div>
  <hr>