<%-include('./partials/header')%>

<h2 class="text-center mt-5 py-3 w-[40%] rounded-l-md mx-auto bg-orange-400 font-bold text-4xl text-gray-600">Dashboard</h2>


<div class="text-center my-20 flex justify-center items-center flex-col">
  <!-- <a href="/api/show/showall">
    <p class="px-4 py-3 bg-blue-500 w-96 mt-10 text-3xl text-gray-50 active:scale-95  rounded-lg ">Show All Email Ids</p>
  </a> -->
  <a href="/api/show/addclg">
    <p class="px-4 py-3 bg-blue-500 mt-10 w-96 text-2xl text-gray-50 active:scale-95  rounded-lg ">Add New Deptt/College</p>
  </a>

  <a href="/api/show/editclg">
    <p class="px-4 py-3 bg-blue-500 mt-10 w-96 text-2xl text-gray-50 active:scale-95  rounded-lg ">Edit Deptt/College Details</p>
  </a>

  <a href="/api/show/delclg">
    <p class="px-4 py-3 bg-blue-500 mt-10 w-96 text-2xl text-gray-50 active:scale-95  rounded-lg ">Delete Record of Deptt/College</p>
  </a>
</div>



<%-include('./partials/footer')%>